@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  max-height: 756px;
  min-height: 600px;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
  overflow: hidden;
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  outline: solid;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  bottom: 30px;
  left: 64px;
  margin: 0 auto;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  z-index: 0;
  animation: rotation 20s linear infinite running;
  transform: rotate(-15deg);
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  position: relative;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.digits {
  outline: solid;
  padding-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  outline: solid;
  width: 60%;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  outline: solid;
  width: 60%;
  margin: 20px auto 0 auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  line-height: 1.15;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
}

.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  width: 648px;
  margin: 0 auto;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
  margin: 70px auto 0 auto;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2F80ED;
  z-index: 1;
}

.feynman__photo {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: #fff;
  margin: 90px auto 20px auto;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  margin: 0 auto 0 auto;
  color: #fff;
  position: relative;
  z-index: 1;
}

.table__theme_dark {
  margin: 90px auto 0 auto;
  z-index: 1;
  color: #fff;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: #fff;
  margin-right: 0;
  z-index: 1;
}

.table__heading_theme_dark {
  margin: 0;
  color: #fff;
  z-index: 1;
}

.table__text_theme_dark {
  color: #fff;
  z-index: 1;
}

.kaufman__triangle {
  z-index: 0;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotation 20s linear infinite running;
  transform: rotate(-15deg);
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column {}

.footer__column_content_social {}

.footer__column_content_info {}

.footer__column_content_copyright {
  display: flex;
  padding: 0;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__column-heading {
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links {
  color: #fff;
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}


.techniques {
  outline: solid;
  width: 80%;
  padding-top: 100px;
  margin: 0 auto 0 auto;
}

.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards__item {
  outline: solid;
  width: 240px;
  margin: 0;
  margin-right: 100px;
}

.cards__item:nth-child(3n+3) {
  margin-right: 0
}

.cards__image {
  outline: solid;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
  overflow: hidden;
  border-radius: 50%;
}

.cards__title {
  outline: solid;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.cards__description {
  outline: solid;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  text-align: center;
  margin: 16px 0 0 0;
}


.video {
  margin: 0;
  padding-top: 100px;
}

.video__iframes {
  outline: solid;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: -50px;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-child {
  margin-right: 0;
}

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: center;
}

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  outline: solid;
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  outline: solid;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  outline: solid;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  outline: solid;
  width: 790px;
  margin: 50px auto 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  outline: solid;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  outline: solid;
  margin: 10px 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.khan__book-pic {
  margin-right: 10px;
  width: 608px;
  height: 620px;
  overflow: hidden;
  object-fit: cover;
}

.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  margin: 0 auto;
}

.resources__logo-zone {
  outline: solid;
  margin: 80px auto 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.recources__logo {
  height: 38px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
